<!-- FOOTERS -->
<footer class="footer">
<div class="mt-5 d-flex row">
    <div class="col-5 d-inline-flex justify-content-left">
        <div class="mr-4"><a title="Home" href="/">HOME</a></div>
        <div class="mr-4"><a title="About Charles John Quarto" href="/about">ABOUT</a></div>
        <div><a title="Contact Charles John Quarto" href="/contact">CONTACT</a></div>
    </div>
    <div class="col-7 d-inline-flex flex-row-reverse justify-content-right">

        <div class="mr-0"><a title="Web Design By Sara Hanson" href="https://www.linkedin.com/in/sara-hanson-usc/">DESIGN</a></div>
        <div class="mr-4"><a title="Shop New Collections" href="/shop">SHOP</a></div>

    </div>
</div>


</footer>
</body>
</html>