

<!-- FOOTERS -->

<footer class="footer">
<div class="mx-5 row">
    <div class="col-3 d-flex justify-content-center">
        <div>
            <div class="mb-2">Shop</div>
            <div><a href="/discography">Music</a></div>
            <div> <a href="/written-works">Poems</a></div>
            <div><a href="/shop">Collections</a></div>
        </div>
    </div>

        <div class="col-3 d-flex justify-content-center">
            <div>
                <div class="mb-2">About</div>
                <div><a href="/about">Bio</a></div>
                <div> <a href="#">Nashville, TN</a></div>
            </div>
        </div>

        <div class="col-3 d-flex justify-content-center">
            <div>
                <div class="mb-2">Connect</div>
                <div><a href="/contact">Contact</a></div>
                <div> <a href="#">Facebook</a></div>
            </div>
        </div>

        <div class="col-3 d-flex justify-content-center">
            <div>
                <div class="mb-2">Website by Sara Hanson</div>
                <div><a href="https://github.com/sdhanson"> Github</a></div>
                <div><a href="https://www.linkedin.com/in/sara-hanson-usc/"> LinkedIn</a></div>
            </div>
        </div>
</div>


</footer>
</body>
</html>