<% include partials/header.ejs %>
<% include partials/overlay.ejs %>

<!--Closes tags from overlay-->
</div>
</div>

<!--Image on top of container up to media-->
<div class="mt-4 container d-block d-md-none">
    <img class="img-fluid" src="images/headshot.jpg" alt="Generic placeholder image">
</div>
<!--End image container-->


<!--Media container (Bootstrap 4: Groups image and body)-->
<div class="media mt-5">

    <!--Image container-->
    <div class="container d-none d-md-block col-md-4">
        <img class="img-fluid" src="images/headshot.jpg" alt="Generic placeholder image">
    </div>
    <!--End image container-->

    <!--Body container-->
    <div class="mr-5 pr-2 col-md-8 media-body">

        <!--Container for the body to create padding-->
        <div class="container">
            <p>
                <strong>Charles John Quarto</strong> is a mystic spiritual master, healer, psychic, poet, songwriter, philosopher, ally and advisor, on all matters vast. He began his performing career as a poet in Greenwich Village (his
                birthplace) in 1968. He performed on the David Frost Show, the Museum of Modern Art, New York
                University, the New York Folklore Center, the Bitter End, the Gaslight (his home club), and myriad other
                venues between September 1968 and June 1970. His poetry first appeared in the liner notes of one of
                Jerry Jeff Walker’s first albums. During his 18-month tenure in New York, Joni Mitchell befriended him
                and brought him to the attention of Graham Nash, who subsequently invited Charles John to move to
                Los Angeles and record his first album of poetry – <em>Charles John Quarto</em> (Atlantic Records) – which Graham kindly produced. Charles John then wrote album cover poems for Steven Stills and Rita
                Coolidge. Charles John then took up residence at the Chateau Marmont Hotel and performed at such
                places as the Hollywood Bowl, the Troubadour, McCabe’s Guitar Shop, the Improv, the Los Angeles
                Music Expo, and various other key spots in California.
            </p>

            <p>
                During late December of 1971, Michael Martin Murphey invited Charles John to go on tour in Texas, and
                this hejira led him to Austin where he took up residence from 1972 until June of 1973. While in Austin,
                he performed at South By Southwest, the Armadillo World Headquarters, the Saxon Pub, the Kerrville
                Folk Festival (where he was named lifetime poet laureate), the Hill on the Moon, the University of Texas,
                and many other colleges, clubs and festivals. It was in the Lone Star state that he began to write songs,
                with a growing list of skilled compadres. His first two co-written songs were “Rainbow Man” and
                “Geronimo’s Cadillac” with Michael Martin Murphey, which to date has been recorded 28 times. As in
                New York and California, Charles John’s reputation as a psychic healer and spiritual master continued to
                expand and he began to further comprehend his life’s purpose in this incarnation: to demonstrate
                human multidimensionality. After accepting a hobo scholarship for the summer of 1973 at the Fifth
                Avenue Hotel in New York, Charles John moved to Denver to become a snow leopard. While in
                Colorado, he performed at the Hotel Oxford, the Denver Folklore Center, the Rocky Mountain Summer
                Festivals, the Wilderness Society’s concert series, Ebbett’s Field, the Aspen Spring Festival, Colorado
                Women’s College, and the Athena Artists series. His lyric “Grapes on the Vine” was written on mountain
                roads and was welcomed on Randy Handley’s first album cover, and a few years later was cradled in
                music by the gifted Steve Gillette. Simultaneously, Charles John was touring, playing hundreds of
                colleges, clubs and concerts, throughout America, and sculpted a niche for himself with his work ethic
                and bohemian charm.
            </p>

            <p>
                In January 1975 Charles John returned to Los Angeles where he thrived in his spiritual and psychic work,
                his poetry and songwriting, and keened a golden reputation as a rainbow repairman. More and more
                people were seeking him out as a sage, as his life became more and more mystical with divine visitation,
                interactive communication with other species, and further and further demonstration of the Law of
                Divine Design, and how all human experience has loving cause and result. During his second tenure in
                California, he performed at further venues as a poet, was frequently a guest lecturer at the Los Angeles
                Music Expo, and began to write songs with a wider range of brilliant singers and musicians, and initiated
                a weekly gathering of great art and performance with a select group of contemporary creators who
                would later come to be known as “The Old Gang of Hearts.” Every Monday evening at the home of poet
                Mark Keller and the flawlessly lucid Wendy Webb, there were evenings of stellar wonder with Mark and
                Wendy, Steve Gillette, Randy Handley, Pete Wasner, Allan Thomas, Severin Browne, Doug Gittings,
                Scotty Galbraith, Dan Navarro, John Townsend and Salet Handley. The reason Charles John coordinated these evenings was for the energy of rare community and also to inspire each of the artists to create
                new wonder every week as equal parts of a pure team of Light.
            </p>

            <p>
                During his final Los Angeles years, Charles John began attracting hundreds of spiritual students, and his
                metaphysical abilities continued to multiply in grace and verisimilitude. He would frequently spend his
                days at Paramahansa’s Lake Shrine and his evenings in the kind shadow of Swami Muktanandah, before
                returning to his poetry cubicle in West Hollywood. He wrote voluminously and began to sense his exit
                strategy. In 1984 he put his guitar and thirteen boxes of writing on an Austin-bound Amtrak and shed
                California for the giant tenderness of Austin once again. His dear compatriots Susan and Jerry Jeff
                Walker donated their guest house to him for the sake of art. He roamed the green rolling hills on paper
                for the next two years, until he drifted north to Nashville in 1986 and subsequently recorded his second
                album of poetry – <em>Hobo Carousel</em> (RCA) – with musical support from Vince Gill, John Hartford, John Jarvis, Mike Henderson, Pete Wasner and Richard Bennett. This album was produced by Bill Halverson
                (who also produced <em>Crosby, Stills &amp; Nash, Cream,</em> and <em>Keith Jarrett</em>). Bill and Charles John also have recently partnered again, for another project soon to be released. During the next eight years Charles John studied with the Archangel Michael and has been channeling Michael ever since.
            </p>

            <p>
                For the next nine years, Charles John was graced in his solitude and tunneled into the vast silence that
                music and poetry use as building blocks in the construction of peace.
            </p>

            <!--Paragraph for dropdown links-->
            <p>
                Currently Charles John is releasing <em>The Rainbow Over Time,</em> a 30-song CD compendium of his co-written songs. He also has a new book of poems, simply entitled <em>Poems</em>.

            <!--Dropdown button for artist collaborators list-->
            <div>
                <button class="button btn btn-md btn-outline-dark rounded-0 dropdown-toggle" data-toggle="collapse" data-target="#demo">People who have recorded his music </button>
                <div id="demo" class="collapse mt-2 pt-2">
                    <div>Waylon Jennings</div>
                    <div>Crystal Gayle</div>
                    <div>Lowen &amp; Navarro</div>
                    <div>Jill Morris</div>
                    <div>John Townsend</div>
                    <div>Michael Gulezian</div>
                    <div>Michael Martin Murphey &amp; Willy Nelson</div>
                    <div>Don Williams</div>
                    <div>David White</div>
                    <div>Steve Gillette &amp; Cindy Mangsen</div>
                    <div>Bill &amp; Bonnie Hearne</div>
                    <div>Johnny Rivers with Linda Ronstadt</div>
                    <div>Jerry Jeff Walker</div>
                    <div>Randy Handley</div>
                    <div>Paul Reisler &amp; Trapezoid</div>
                    <div>Hoyt Axton</div>
                    <div>Tony Cox</div>
                    <div>Jeff Stevens and the Bullets</div>
                    <div>Sky Seymour</div>
                    <div>The Townsend Toler Band</div>
                    <div>Patricia Conroy</div>
                    <div>Maria Butterly</div>
                    <div>Tony Rice &amp; the Rice Brothers</div>
                    <div>Hal Ketchum</div>
                    <div>Juniper L’Orange</div>
                    <div>Claire Hammill</div>
                    <div>Rick Beresford</div>
                    <div>Dianne Woody</div>
                    <div>Garth Brooks &amp; Tricia Yearwood</div>
                    <div>The Lost Gonzo Band</div>
                    <div>Shake Russell</div>
                    <div>Shake Russell &amp; Dana Cooper</div>
                    <div>Severin Browne</div>
                    <div>Pete Wasner</div>
                    <div>Scott Galbraith</div>
                    <div>Allan Thomas</div>
                    <div>Wendy Webb</div>
                    <div>Jim Ratts &amp; Runaway Express</div>
                    <div>The Corner Band</div>
                    <div>The Kingston Trio</div>
                    <div>Doug Gittings</div>
                    <div>Wildfire</div>
                    <div>Rhonda Vincent &amp; the Rage</div>
                    <div>Larry Weiss</div>
                    <div>Mark T. Jordan</div>
                    <div>The Princess &amp; the Frog</div>
                    <div>Mary McCaslin &amp; Jim Ringer</div>
                    <div>Jim Phillips</div>
                    <div>Melissa Javors</div>
                    <div>Fred Koller</div>
                    <div>Manfred Mann &amp; the Earth Band</div>
                    <div>Laurie Wheeler</div>
                    <div>Greg Trafiglio</div>
                    <div>Melanie</div>
                </div>
            </div>
            <!--End dropdown button-->

            <p></p>

            <!--Dropdown button for metaphysical teachings list-->
            <div>
                <button class="button btn btn-md btn-outline-dark rounded-0 dropdown-toggle" data-toggle="collapse" data-target="#demo1">
                    Charles John is available for teaching of poetry and song lyric. His metaphysical teachings include:
                </button>
                <div id="demo1" class="collapse mt-2 pt-2">
                    <div>Meditation</div>
                    <div>Manifestations</div>
                    <div>Empowerment</div>
                    <div>Chakra Clearing</div>
                    <div>Earth Changes</div>
                    <div>Communicating with all of Nature</div>
                    <div>Ghost Removal</div>
                    <div>Finding Lost Pets</div>
                    <div>Releasing Ancient Burdens</div>
                    <div>Past Life Readings</div>
                    <div>Healing Techniques</div>
                    <div>Utilizing Color to Create Wonders</div>
                    <div>Learning Bird and Animal Languages</div>
                    <div>Teachings of all Quartz Crystals</div>
                    <div>Teachings of Stones</div>
                    <div>Creating Medicine Wheels</div>
                    <div>And hundreds of other topics</div>
                </div>
            </div>
            <!--End dropdown button-->
            </p>
            <!--End paragraph for dropdown links-->

            <p>
                Charles John’s instruction comes through the Archangel Michael in ways unexpected and transcendent.
                Further, there will be a weekly channeling of the Archangel Michael here in Nashville – for information,
                contact Charles John at 615.352.8480.
            </p>

            <p>
                Each day a new poem or song will appear on Charles John’s website, for your enjoyment. Formal
                collections of his poems and songs also are available. The daily poems and songs are being shared
                through the honor system. For those who would like to send a gratuity to support Charles John’s daily
                labor of light, you may respond through the <a href="/contact">contact page</a>.
            </p>

            <p>
                Thank you,
                <br>
                Friends of Charles John Quarto
            </p>

            <p>
                Charles John has written every day for a half century.
            </p>

        </div>
        <!--End inner body container-->
    </div>
    <!--End outer body container-->
</div>
<!--End media container-->

<% include partials/footer.ejs %>