<% include partials/header.ejs %>
<% include partials/overlay.ejs %>

<link rel='stylesheet' href='/stylesheets/about.css' />

    </div>
<!--Closes tags from overlay-->


<!--Image on top of container up to media-->
<!--<div class="mt-4 container d-block d-md-none">-->
    <!--<img class="img-fluid" src="/images/headshot.jpg" alt="Generic placeholder image">-->
<!--</div>-->
<!--&lt;!&ndash;End image container&ndash;&gt;-->

<!--Media container (Bootstrap 4: Groups image and body)-->
<div class="about-container mt-5">

    <!--&lt;!&ndash;Image container&ndash;&gt;-->
    <!--<div class="container d-block col-md-4">-->
        <!--<img class="img-fluid" src="/images/headshot.jpg" alt="Generic placeholder image">-->
    <!--</div>-->
    <!--&lt;!&ndash;End image container&ndash;&gt;-->

    <!--Body container-->
    <!--<div class="mr-5 pr-2 col-md-8 justify-content-center media-body">-->

        <!--Container for the body to create padding-->
        <div class="container">
            <p>
                <strong>Charles John Quarto</strong> is a mystic spiritual master, healer, psychic, poet, songwriter, philosopher, ally and advisor, on all matters vast. He began his performing career as a poet in Greenwich Village (his
                birthplace) in 1968. He performed on the David Frost Show, the Museum of Modern Art, New York
                University, the New York Folklore Center, the Bitter End, the Gaslight (his home club), and myriad other
                venues between September 1968 and June 1970. His poetry first appeared in the liner notes of one of
                Jerry Jeff Walker’s first albums. During his 18-month tenure in New York, Joni Mitchell befriended him
                and brought him to the attention of Graham Nash, who subsequently invited Charles John to move to
                Los Angeles and record his first album of poetry – <em>Charles John Quarto</em> (Atlantic Records) – which Graham kindly produced. Charles John then wrote album cover poems for Steven Stills and Rita
                Coolidge. Charles John then took up residence at the Chateau Marmont Hotel and performed at such
                places as the Hollywood Bowl, the Troubadour, McCabe’s Guitar Shop, the Improv, the Los Angeles
                Music Expo, and various other key spots in California.
            </p>

            <p>
                During late December of 1971, Michael Martin Murphey invited Charles John to go on tour in Texas, and
                this hejira led him to Austin where he took up residence from 1972 until June of 1973. While in Austin,
                he performed at South By Southwest, the Armadillo World Headquarters, the Saxon Pub, the Kerrville
                Folk Festival (where he was named lifetime poet laureate), the Hill on the Moon, the University of Texas,
                and many other colleges, clubs and festivals. It was in the Lone Star state that he began to write songs,
                with a growing list of skilled compadres. His first two co-written songs were “Rainbow Man” and
                “Geronimo’s Cadillac” with Michael Martin Murphey, which to date has been recorded 28 times. As in
                New York and California, Charles John’s reputation as a psychic healer and spiritual master continued to
                expand and he began to further comprehend his life’s purpose in this incarnation: to demonstrate
                human multidimensionality. After accepting a hobo scholarship for the summer of 1973 at the Fifth
                Avenue Hotel in New York, Charles John moved to Denver to become a snow leopard. While in
                Colorado, he performed at the Hotel Oxford, the Denver Folklore Center, the Rocky Mountain Summer
                Festivals, the Wilderness Society’s concert series, Ebbett’s Field, the Aspen Spring Festival, Colorado
                Women’s College, and the Athena Artists series. His lyric “Grapes on the Vine” was written on mountain
                roads and was welcomed on Randy Handley’s first album cover, and a few years later was cradled in
                music by the gifted Steve Gillette. Simultaneously, Charles John was touring, playing hundreds of
                colleges, clubs and concerts, throughout America, and sculpted a niche for himself with his work ethic
                and bohemian charm.
            </p>

            <p>
                In January 1975 Charles John returned to Los Angeles where he thrived in his spiritual and psychic work,
                his poetry and songwriting, and keened a golden reputation as a rainbow repairman. More and more
                people were seeking him out as a sage, as his life became more and more mystical with divine visitation,
                interactive communication with other species, and further and further demonstration of the Law of
                Divine Design, and how all human experience has loving cause and result. During his second tenure in
                California, he performed at further venues as a poet, was frequently a guest lecturer at the Los Angeles
                Music Expo, and began to write songs with a wider range of brilliant singers and musicians, and initiated
                a weekly gathering of great art and performance with a select group of contemporary creators who
                would later come to be known as “The Old Gang of Hearts.” Every Monday evening at the home of poet
                Mark Keller and the flawlessly lucid Wendy Webb, there were evenings of stellar wonder with Mark and
                Wendy, Steve Gillette, Randy Handley, Pete Wasner, Allan Thomas, Severin Browne, Doug Gittings,
                Scotty Galbraith, Dan Navarro, John Townsend and Salet Handley. The reason Charles John coordinated these evenings was for the energy of rare community and also to inspire each of the artists to create
                new wonder every week as equal parts of a pure team of Light.
            </p>

            <p>
                During his final Los Angeles years, Charles John began attracting hundreds of spiritual students, and his
                metaphysical abilities continued to multiply in grace and verisimilitude. He would frequently spend his
                days at Paramahansa’s Lake Shrine and his evenings in the kind shadow of Swami Muktanandah, before
                returning to his poetry cubicle in West Hollywood. He wrote voluminously and began to sense his exit
                strategy. In 1984 he put his guitar and thirteen boxes of writing on an Austin-bound Amtrak and shed
                California for the giant tenderness of Austin once again. His dear compatriots Susan and Jerry Jeff
                Walker donated their guest house to him for the sake of art. He roamed the green rolling hills on paper
                for the next two years, until he drifted north to Nashville in 1986 and subsequently recorded his second
                album of poetry – <em>Hobo Carousel</em> (RCA) – with musical support from Vince Gill, John Hartford, John Jarvis, Mike Henderson, Pete Wasner and Richard Bennett. This album was produced by Bill Halverson
                (who also produced <em>Crosby, Stills &amp; Nash, Cream,</em> and <em>Keith Jarrett</em>). Bill and Charles John also have recently partnered again, for another project soon to be released. During the next eight years Charles John studied with the Archangel Michael and has been channeling Michael ever since.
            </p>

            <p>
                For the next nine years, Charles John was graced in his solitude and tunneled into the vast silence that
                music and poetry use as building blocks in the construction of peace.
            </p>

            <p>
                Currently Charles John is releasing <em>The Rainbow Over Time,</em> a 30-song CD compendium of his co-written songs. He also has a new book of poems, simply entitled <em>Poems</em>.
            </p>


            <!--<br>-->

            <!--Creative Writing teacher Header-->
            <h2 class="mt-5 mb-3 pb-2">Creative Writing Teacher of Songs and Poems</h2>
            <p>
                As a creative writing teacher, Charles John's approach is to expand the intuitive and encourage the stream of
                consciousness into a river of wonder, reflection, and specificity, so that the student can realize that inspiration may also be
                self-generated and that the heart and mind are perfect working partners.
            </p>

            <p>
                Charles John has experience as a teacher, writer, collaborator, recording artist, and performer.
            </p>


            <!--Dropdown button for artist collaborators list-->
            <div>
                <button title="Toggle to View Artist Collaborators" class="button btn btn-md btn-outline-dark rounded-0 dropdown-toggle" data-toggle="collapse" data-target="#demo">Artists who have recorded his work or used his poems on album covers or liner notes: </button>
                <div id="demo" class="collapse mt-2 pt-2">
                    <div class="about-text">Hal Ketchum</div>
                    <div class="about-text">Jerry Jeff Walker</div>
                    <div class="about-text">Michael Martin Murphy</div>
                    <div class="about-text">Randy Handley</div>
                    <div class="about-text">Doug Giffins</div>
                    <div class="about-text">John Townsend & The Townsend/Toler Band</div>
                    <div class="about-text">Melissa Javors</div>
                    <div class="about-text">Wendy Webb</div>
                    <div class="about-text">Johnny Rivers</div>
                    <div class="about-text">Mary McCaslin & Jim Ringer</div>
                    <div class="about-text">Shake Russell & Dana Cooper</div>
                    <div class="about-text">The Lost Gonzo Band</div>
                    <div class="about-text">Mike Williams</div>
                    <div class="about-text">Lowen & Navarro</div>
                    <div class="about-text">Cher</div>
                    <div class="about-text">Mark T. Jordan</div>
                    <div class="about-text">Michael Kelsh</div>
                    <div class="about-text">Jim Ratts & Runaway Express</div>
                    <div class="about-text">Severin Browne</div>
                    <div class="about-text">Larry Weiss</div>
                    <div class="about-text">Maria Butterfly</div>
                    <div class="about-text">Jim Phillips</div>
                    <div class="about-text">Hoyt Axton</div>
                    <div class="about-text">Stephen Stills</div>
                    <div class="about-text">Rita Coolidge</div>
                    <div class="about-text">Manfred Mann &amp; the Earth Band</div>
                    <div class="about-text">Don Williams</div>
                    <div class="about-text">Claire Hammill</div>
                    <div class="about-text">Patricia Conroy</div>
                    <div class="about-text">Crystal Gayle</div>
                    <div class="about-text">Laurrie Wheeler</div>
                    <div class="about-text">Bill &amp; Bonnie Hearne</div>
                    <div class="about-text">Jeff Stevens and the Bullets</div>
                    <div class="about-text">Garth Brooks &amp; Tricia Yearwood</div>
                    <div class="about-text">Randy Hendley</div>
                    <div class="about-text">Michael Martin Murphy & Willie Nelson</div>
                    <div class="about-text">Weylon Jennings</div>
                    <div class="about-text">Steve Gillette &amp; Cindy Mangsen</div>
                    <div class="about-text">And many more...</div>
                </div>
            </div>
            <!--End dropdown button-->
            <!--End paragraph for dropdown links-->

            <p class="mt-3">
                As a poet Charles John has performed for well over a million people throughout the United States.
            </p>

            <p>
            <div>
                <button title="Toggle to View Venues" class="button btn btn-md btn-outline-dark rounded-0 dropdown-toggle" data-toggle="collapse" data-target="#demo3">
                    Charles John has played at the following venues, colleges, and universities:
                </button>
                <div id="demo3" class="collapse mt-2 pt-2">
                    <div class="about-text">The Bitter End</div>
                    <div class="about-text">The Village Easlight</div>
                    <div class="about-text">The Hollywood Bowl</div>
                    <div class="about-text">The Armadillo World Headquarters</div>
                    <div class="about-text">The Last Resort</div>
                    <div class="about-text">The Saxon Pub</div>
                    <div class="about-text">McCabe's Guitar Shop</div>
                    <div class="about-text">The New York Folklore Center</div>
                    <div class="about-text">The Golden Bear</div>
                    <div class="about-text">The Japan Town House</div>
                    <div class="about-text">The Troubador</div>
                    <div class="about-text">The Oxford Hotel</div>
                    <div class="about-text">Yale University</div>
                    <div class="about-text">West Virginia University</div>
                    <div class="about-text">UCLA</div>
                    <div class="about-text">UC Riverside</div>
                    <div class="about-text">Colorado Women's College</div>
                    <div class="about-text">The University of Denver</div>
                    <div class="about-text">The Flick</div>
                    <div class="about-text">The Bluesette</div>
                    <div class="about-text">The Saxon Pub</div>
                    <div class="about-text">California State Teachers College</div>
                    <div class="about-text">Colorado University</div>
                    <div class="about-text">University of California Santa Barbara</div>
                    <div class="about-text">The Los Angeles Music Expo</div>
                    <div class="about-text">The Thirsty Ear</div>
                    <div class="about-text">The Lost</div>
                    <div class="about-text">The Wilderness Society</div>
                    <div class="about-text">Dusquesne University</div>
                    <div class="about-text">The Kerrville Folk Festival</div>
                    <div class="about-text">Montana State University</div>
                    <div class="about-text">The Koin</div>
                    <div class="about-text">Oregon State University</div>
                    <div class="about-text">Western Washington University</div>
                    <div class="about-text">Ebbets Field</div>
                    <div class="about-text">Arizone State University</div>
                    <div class="about-text">Midwestern University</div>
                    <div class="about-text">The Blue Bird Cafe</div>
                </div>
                </div>
            <!--<br>-->


            <h2 class="mt-5 mb-3 pb-2">Metaphysical Work</h2>

            <p>
            As a spiritual teacher, seer, and healer, thousands of individuals have sought his guidance, vision, and healing energies.
            He is a shepard of the Sacred Earth and presents the mystical world as a practical world through application, truth,
            empowerment, and gratitude. He channels a vast consciousness including the Archangel Michael.
            </p>
            <p> </p>
            <p>

            <!--Dropdown button for metaphysical teachings list-->
            <div>
                <button title="Toggle to View Specializations" class="button btn btn-md btn-outline-dark rounded-0 dropdown-toggle" data-toggle="collapse" data-target="#demo2">
                    Charles John specializes in many metaphysical topics:
                </button>
                <div id="demo2" class="collapse mt-2 pt-2">
                    <div class="about-text">Channels the Archangel Michael</div>
                    <div class="about-text">Metaphysical and Psychic Readings</div>
                    <div class="about-text">Wizardry</div>
                    <div class="about-text">Healing</div>
                    <div class="about-text">Seminars, Classes and Spirit Events</div>
                </div>
            </div>

            <p></p>

            <!--Dropdown button for metaphysical teachings list-->
            <div>
                <button title="Toggle to View Teachings" class="button btn btn-md btn-outline-dark rounded-0 dropdown-toggle" data-toggle="collapse" data-target="#demo1">
                    Charles John's metaphysical teachings include:
                </button>
                <div id="demo1" class="collapse mt-2 pt-2">
                    <div class="about-text">Meditation</div>
                    <div class="about-text">Manifestations</div>
                    <div class="about-text">Empowerment</div>
                    <div class="about-text">Soul Travel</div>
                    <div class="about-text">Chakra Clearing</div>
                    <div class="about-text">Earth Changes</div>
                    <div class="about-text">Communicating with all of Nature</div>
                    <div class="about-text">Ghost Removal</div>
                    <div class="about-text">Finding Lost Pets</div>
                    <div class="about-text">Releasing Ancient Burdens</div>
                    <div class="about-text">Past Life Readings</div>
                    <div class="about-text">Healing Techniques</div>
                    <div class="about-text">Utilizing Color to Create Wonders</div>
                    <div class="about-text">Learning Bird and Animal Languages</div>
                    <div class="about-text">Teachings of all Quartz Crystals</div>
                    <div class="about-text">Teachings of Stones</div>
                    <div class="about-text">Creating Medicine Wheels</div>
                    <div class="about-text">And hundreds of other topics...</div>
                </div>
            </div>
            <!--End dropdown button-->

            <p class="pt-2">
                Charles John’s instruction comes through the Archangel Michael in ways unexpected and transcendent.
                Further, there will be a weekly channeling of the Archangel Michael here in Nashville – for information,
                contact Charles John at 615.352.8480 or through the <a title="Contact Charles John Quarto" class="in-line-link" href="/contact">contact page</a>.
            </p>


            <p class="mt-5">
                Formal collections of his poems and songs also are available on <a title="Explore Written Work" class="in-line-link" href="/written-works/1">his website</a> or <a title="Shop New Collections" class="in-line-link" href="/shop">for purchase</a>. For those who would like to send a gratuity to support Charles John’s daily
                labor of light, you may respond through the <a title="Contact Charles John Quarto" class="in-line-link" href="/contact">contact page</a>.
            </p>

            <p>
                Thank you,
                <br>
                Friends of Charles John Quarto
            </p>

            <p>
                Charles John has written every day for a half century.
            </p>

        </div>
        <!--End inner body container-->
    <!--</div>-->
    <!--End outer body container-->
</div>
<!--End media container-->

<% include partials/footer.ejs %>