<% include partials/header.ejs %>
<% include partials/overlay.ejs %>

</div>
</div>

<div class="mt-4 container d-block d-sm-none">
    <h3>Contact Info</h3>
    <br>
    <div>
        Charles John Quarto<br>P.O. Box 120535<br>
        Nashville, TN 37212
    </div>
    <div>
        <br>
        615-352-8480
    </div>
</div>

<div class="media mt-5">
    <div class="ml-5 container d-none d-sm-block col-2">
        <h3>Contact Info</h3>
        <br>
        <div>
            Charles John Quarto<br>P.O. Box 120535<br>
            Nashville, TN 37212
        </div>
        <div>
            <br>
            615-352-8480
        </div>
    </div>

    <div class="ml-2 mr-5 media-body">
        <form>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="firstName">First Name *</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="phoneNumber">Phone Number *</label>
                    <input type="tel" class="form-control" id="phoneNumber" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                </div>
                <div class="form-group col-md-12">
                    <label for="subject">Subject *</label>
                    <input type="text*" class="form-control" id="subject" required>
                </div>
                <div class="form-group col-12">
                    <label for="message">Message *</label>
                    <br>
                    <textarea class="w-100" id="message" name="message" placeholder=" " rows="5" required></textarea>
                </div>
            </div>
            <div class="form-group col-md-12">
                <button class="button-submit btn btn-md btn-outline-dark rounded-0" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>



<% include partials/footer.ejs %>