<% include partials/header.ejs %>
<% include partials/overlay.ejs %>
<link rel='stylesheet' href='/stylesheets/contact.css' />



        <div class="d-flex justify-content-center header header-text">
            <p class="contact-header-title align-self-center">CONTACT</p>
            <!--Closing tags from overlay-->
        </div>
    </div>



<div class="contact-container mt-4">
    <div>
        <p>
            <strong class="contact-toggle" data-toggle="collapse" data-target="#contact">Express your gratitude</strong>
            <div id="contact" class="row collapse mt-2 pt-2">
                <div class="ml-1 col">
                    <h3> PO Box</h3>
                    Charles John Quarto<br>P.O. Box 120535<br>
                    Nashville, TN 37212
                </div>
                <div class="col">
                    <h3> Phone Number</h3>
                    615-352-8480
                </div>
            </div>

        </p>

    </div>
    <div class="">
        <!--Form-->
        <form id="contact-form" method="POST" action="/send">
            <!--First row - first and last name-->
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label class="contact-form" for="firstName">First Name *</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                </div>
                <div class="form-group col-sm-6">
                    <label class="contact-form" for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                </div>
            </div>
            <!--End first row-->
            <!--Second row - Phone number, subject, and message-->
            <div class="form-row">
                <!--Phone number-->
                <div class="form-group col-md-12">
                    <label class="contact-form" for="phoneNumber">Phone Number *</label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                </div>
                <!--End phone number-->

                <!--Subject-->
                <div class="form-group col-md-12">
                    <label class="contact-form" for="subject">Subject *</label>
                    <input type="text" class="form-control" id="subject" name="subject" required>
                </div>
                <!--End subject-->

                <!--Message-->
                <div class="form-group col-12">
                    <label class="contact-form" for="message">Message *</label>
                    <br>
                    <textarea title="Send Charles John Quarto Your Message" class="w-100" id="message" name="message" placeholder=" " rows="5" required></textarea>
                </div>
                <!--End message-->
            </div>
            <!--End second row-->

            <!--Submit button-->
            <div class="form-group">
                <button id="contact-submit" title="Submit Your Message" class="button-submit btn btn-md btn-outline-dark rounded-0" type="submit">Submit</button>
            </div>
            <!--End submit button-->

        </form>
        <!--End form-->
    </div>
    <!--End form container-->
</div>
<!--End media-->


<script type="text/javascript" src="/javascripts/contact.js"></script>


<% include partials/footer.ejs %>