<% include partials/header.ejs %>
<% include partials/overlay.ejs %>
<link rel='stylesheet' href='/stylesheets/discography.css' />

<div class="row justify-content-center">
    <div class="dropdown">
        <button type="button" class="mr-4 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item header-dropdown-item" href="#">Studio Album</a>
            <a class="dropdown-item header-dropdown-item" href="#">Collaboration</a>
            <a class="dropdown-item header-dropdown-item" href="#">Singles</a>
        </div>
    </div>
    <div class="dropdown-2">
        <button type="button" class="ml-2 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Year</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item header-dropdown-item" href="#">1970s</a>
            <a class="dropdown-item header-dropdown-item" href="#">1980s</a>
            <a class="dropdown-item header-dropdown-item" href="#">1990s</a>
        </div>
    </div>
</div>
</div>
</div>

<div class="photo-container">
    <div class="row">
        <div class="col-md-4 col-sm-6 my-3">
            <a data-toggle="modal" href="#myModal">
                <img class="my-1 img-fluid" src="images/mountain.jpg" alt="image">
                <p> Album </p>
                <h6>Year, Cowriters</h6>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 my-3">
            <a href="">
                <img class="my-1 img-fluid" src="images/mountain.jpg" alt="image">
                <p> Album </p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 my-3">
            <a href="">
                <img class="img-fluid my-1" src="images/mountain.jpg" alt="image">
                <p> Album </p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 my-3">
            <a href="">
                <img class="img-fluid my-1" src="images/mountain.jpg" alt="image">
                <p> Album </p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 my-3">
            <a href="">
                <img class="img-fluid my-1" src="images/mountain.jpg" alt="image">
                <p> Album </p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 my-3">
            <a href="">
                <img class="img-fluid my-1" src="images/mountain.jpg" alt="image">
                <p> Album </p>
            </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content modal-content-special">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-4" id="result">
                <div class="mt-4 container d-block d-sm-none">
                    <div class="container col-6">
                        <img class="img-fluid" src="images/mountain.jpg" alt="Generic placeholder image">
                    </div>
                </div>
                <div class="media mt-5">
                    <div class="container col-6 d-none d-sm-block">
                        <img class="img-fluid" src="images/mountain.jpg" alt="Generic placeholder image">
                    </div>

                    <div class="media-body mx-5 align-self-center">
                        <h5 class="mt-0">Media heading</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <div class="mt-5 align-self-center">
                    <iframe src="https://open.spotify.com/embed?uri=spotify:album:3Q149ZH46Z0f3oDR7vlDYV" width="600" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="track-container col-4 offset-4 mt-5 mb-2">
                    <div class="d-flex justify-content-center track pt-2">Tracklist</div>
                    <div class="pb-3">
                        <div>
                            <span class="track-info">SONG TITLE</span><span class="track-info float-right">LENGTH</span>
                        </div>
                        <div>
                            <span class="track-info">SONG TITLE</span><span class="track-info float-right">LENGTH</span>
                        </div>
                        <div>
                            <span class="track-info">SONG TITLE</span><span class="track-info float-right">LENGTH</span>
                        </div>
                        <div>
                            <span class="track-info">SONG TITLE</span><span class="track-info float-right">LENGTH</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>