<% include partials/header.ejs %>
<% include partials/overlay.ejs %>
<link rel='stylesheet' href='/stylesheets/modal-grid.css' />
<link rel='stylesheet' href='/stylesheets/home.css' />

<!--Closing tags from overlay-->
</div>
</div>



<!--ADD COMMENTS-->
<a href="/discography">
  <div class="media mt-5">
    <div class="container col-6">
      <img class="img-fluid" src="/images/rocks.jpeg" alt="Generic placeholder image">
    </div>

    <div class="media-body mx-5 align-self-center">
      <h5 class="mt-0 home-title">Music and Discography</h5>
      <p>View More</p>
    </div>
  </div>
</a>

<a href="/written-works">
    <div class="media mt-5">
      <div class="media-body mx-5 align-self-center">
        <h5 class="mt-0 text-right home-title">Poetry</h5>
        <p class="text-right-link">View More</p>
      </div>
      <div class="container col-6">
        <img class="img-fluid" src="/images/book.jpg" alt="Generic placeholder image">
      </div>
    </div>
</a>

  <a href="/about">
  <div class="media mt-5">
    <div class="container col-6">
      <img class="img-fluid" src="/images/ripple.jpeg" alt="Generic placeholder image">
    </div>

    <div class="media-body mx-5 align-self-center">
      <h5 class="mt-0 home-title">About</h5>
      <p>View More</p>
    </div>
  </div>
  </a>

<!--Shopping links container-->
<div class="photo-container">
  <!--Row container: one row-->
  <div class="row m-5">
    <!--Photo + title-->
    <div class="photo col-md-4 col-sm-6 my-3">
      <a href="#">
        <img class="my-1 img-fluid" src="/images/forests.jpeg" alt="image">
        <p class="text-center-link" >Shop</p>
      </a>
    </div>
    <!--End photo + title-->
    <div class="col-md-4 col-sm-6 my-3">
      <div class="photo">
        <a href="#">
          <img class="my-1 img-fluid" src="/images/blake.jpeg" alt="image">
          <p class="text-center-link" >Shop</p>
        </a>
    </div>
    </div>
    <div class="photo col-md-4 col-sm-6 my-3">
      <a href="#">
        <img class="my-1 img-fluid" src="/images/grasses.jpeg" alt="image">
        <p class="text-center-link" >Shop</p>
      </a>
    </div>
  </div>
  <!--End row-->
</div>
<!--End shopping container-->

<script type="text/javascript" src="/javascripts/home.js"></script>

<% include partials/footer.ejs %>



</div>













