<% include partials/header.ejs %>
<% include partials/overlay.ejs %>
<link rel='stylesheet' href='/stylesheets/modal-grid.css' />
<link rel='stylesheet' href='/stylesheets/home.css' />

<!--Closing tags from overlay-->
</div>
</div>



<!--ADD COMMENTS-->
<a href="/discography">
  <div class="media right mt-5">
    <div class="container test-container col-6">
      <img class="one img-fluid" src="/images/rocks.jpeg" alt="Generic placeholder image">
    </div>

    <div class="media-body mx-5 align-self-center">
      <h5 class="mt-0 home-title">Music and Discography</h5>
      <p>VIEW MORE
        <i class="one fas fa-chevron-right"></i>
      </p>
    </div>
  </div>
</a>

<a href="/written-works">
    <div class="media two mt-5">
      <div class="media-body mx-5 align-self-center">
        <h5 class="mt-0 text-right home-title">Poetry</h5>
        <p class="text-right-link">
          <span class="text-right-view">VIEW MORE</span>

          <i class="two fas fa-chevron-right"></i>
        </p>
      </div>
      <div class="container test-container-2 col-6">
        <img class="two img-fluid" src="/images/book.jpg" alt="Generic placeholder image">
      </div>
    </div>
</a>

  <a href="/about">
  <div class="media right mt-5">
    <div class="container test-container-3 col-6">
      <img class="three img-fluid" src="/images/ripple.jpeg" alt="Generic placeholder image">
    </div>

    <div class="media-body mx-5 align-self-center">
      <h5 class="mt-0 home-title">About</h5>
      <p> VIEW MORE
        <i class="three fas fa-chevron-right"></i>
      </p>
    </div>
  </div>
  </a>

<!--&lt;!&ndash;Shopping links container&ndash;&gt;-->
<!--<div class="photo-container">-->
  <!--&lt;!&ndash;Row container: one row&ndash;&gt;-->
  <!--<div class="row mx-2 px-2">-->
    <!--&lt;!&ndash;Photo + title&ndash;&gt;-->
    <!--<div class="shop photo mt-1 col-md-4 col-sm-6 my-3">-->
      <!--<a href="/shop">-->
        <!--<img class="my-1 img-fluid" src="/images/back.jpg" alt="image">-->
        <!--<div class="d-flex justify-content-center">-->
          <!--<p class="text-center-link" >SHOP NEW RELEASES-->
          <!--</p>-->

        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--&lt;!&ndash;End photo + title&ndash;&gt;-->
    <!--<div class="col-md-4 mt-1 col-sm-6 my-3">-->
      <!--<div class="shop photo">-->
        <!--<a href="/discography">-->
          <!--<img class="my-1 img-fluid" src="/images/headshot.jpg" alt="image">-->
          <!--<div class="d-flex justify-content-center">-->
            <!--<p class="text-center-link" >SHOP ALL MUSIC-->
            <!--</p>-->

          <!--</div>-->

        <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="shop photo mt-1 col-md-4 col-sm-6 my-3">-->
      <!--<a href="/written-works">-->
        <!--<img class="my-1 img-fluid" src="/images/book.jpg" alt="image">-->
        <!--<div class="d-flex justify-content-center">-->
          <!--<p class="text-center-link" >SHOP ALL WRITTEN WORKS-->
          <!--</p>-->

        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;End row&ndash;&gt;-->
<!--</div>-->
<!--End shopping container-->

<script type="text/javascript" src="/javascripts/home.js"></script>

<% include partials/footer.ejs %>

</div>













