<% include partials/header.ejs %>
<% include partials/overlay.ejs %>
<link rel='stylesheet' href='/stylesheets/modal-grid.css' />
<link rel='stylesheet' href='/stylesheets/home.css' />

<!--Closing tags from overlay-->
</div>
</div>



<!--ADD COMMENTS-->
<!--<div class="container mt-5">-->
  <!--<div class="card-deck">-->
    <!--<div class="card cardSet1 text-white">-->
      <!--<div class="card-body">-->
        <!--<img class="img-fluid" src="/images/rocks.jpeg" alt="Mountain">-->
        <!--<h3 class="card-title mt-2">Music and Discography</h3>-->
        <!--<h5 class="card-subtitle mt-3">-->
          <!--<a title="Explore Discography" href="/discography">-->
            <!--New Album Out Now-->
          <!--</a>-->
        <!--</h5>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="card-deck">-->
    <!--<div class="card cardSet2 text-white">-->
      <!--<div class="card-body">-->
        <!--<img class="img-fluid" src="/images/book.jpg" alt="Book">-->
        <!--<h3 class="card-title mt-2">Written Works</h3>-->
        <!--<h5 class="card-subtitle mt-3">-->
          <!--<a title="Explore Written Works" class="btn btn-outline-dark rounded-0 btn-sm" href="/written-works/1" role="button">New Collections</a>-->
        <!--</h5>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="card-deck">-->
      <!--<div class="card cardSet3 text-white">-->
        <!--<div class="card-body">-->
          <!--<img class="img-fluid" src="/images/ripple.jpeg" alt="Ripple in the Water">-->
          <!--<h3 class="card-title mt-2">About Charles John Quarto</h3>-->
          <!--<h5 class="card-subtitle mt-3">-->
            <!--<a title="Explore Written Works" href="/about">-->
              <!--Discover the Life and Works-->
            <!--</a>-->
          <!--</h5>-->
        <!--</div>-->
      <!--</div>-->

<!--</div>-->

<a title="Explore Discography" href="/discography">
  <div class="media right mt-5">
    <div class="container test-container col-6">
      <img class="one img-fluid" src="/images/rocks.jpeg" alt="Generic placeholder image">
    </div>

    <div class="media-body mx-5 align-self-center">
      <h5 class="mt-0 home-title">Music and Discography</h5>
      <p>VIEW MORE
        <i class="one fas fa-chevron-right"></i>
      </p>
    </div>
  </div>
</a>

<a title="Explore Written Works" href="/written-works">
    <div class="media two mt-5">
      <div class="media-body mx-5 align-self-center">
        <h5 class="mt-0 text-right home-title">Poetry</h5>
        <p class="text-right-link">
          <span class="text-right-view">VIEW MORE</span>

          <i class="two fas fa-chevron-right"></i>
        </p>
      </div>
      <div class="container test-container-2 col-6">
        <img class="two img-fluid" src="/images/book.jpg" alt="Generic placeholder image">
      </div>
    </div>
</a>

  <a title="About Charles John Quarto" href="/about">
  <div class="media right mt-5">
    <div class="container test-container-3 col-6">
      <img class="three img-fluid" src="/images/ripple.jpeg" alt="Generic placeholder image">
    </div>

    <div class="media-body mx-5 align-self-center">
      <h5 class="mt-0 home-title">About</h5>
      <p> VIEW MORE
        <i class="three fas fa-chevron-right"></i>
      </p>
    </div>
  </div>
  </a>

<!--Shopping links container-->
<div class="photo-container">
  <!--Row container: one row-->
  <div class="row mx-2 px-2">
    <!--Photo + title-->
    <div class="shop photo mt-1 col-md-4 col-sm-6 my-3">
      <a href="/shop">
        <img class="my-1 img-fluid" src="/images/back.jpg" alt="image">
        <div class="d-flex justify-content-center">
          <p class="text-center-link" >SHOP NEW RELEASES
          </p>

        </div>
      </a>
    </div>
    <!--End photo + title-->
    <div class="col-md-4 mt-1 col-sm-6 my-3">
      <div class="shop photo">
        <a href="/discography">
          <img class="my-1 img-fluid" src="/images/headshot.jpg" alt="image">
          <div class="d-flex justify-content-center">
            <p class="text-center-link" >SHOP ALL MUSIC
            </p>

          </div>

        </a>
    </div>
    </div>
    <div class="shop photo mt-1 col-md-4 col-sm-6 my-3">
      <a href="/written-works">
        <img class="my-1 img-fluid" src="/images/book.jpg" alt="image">
        <div class="d-flex justify-content-center">
          <p class="text-center-link" >SHOP ALL WRITTEN WORKS
          </p>

        </div>
      </a>
    </div>
  </div>
  <!--End row-->
</div>
<!--End shopping container-->

<script type="text/javascript" src="/javascripts/home.js"></script>

<% include partials/footer.ejs %>

</div>













