<% include partials/header.ejs %>
<% include partials/overlay.ejs %>

<!--Dropdown buttons that overlay the header image-->
<div class="row justify-content-center">
    <!--Category dropdown-->
    <div class="dropdown">
        <button type="button" class="mr-4 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/poems">Poems</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/songs">Songs</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/collections/songs">Song Collections</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/collections/poetry">Poetry Collections</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/category/collections">All Collections</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works">All</a>
        </div>
    </div>
    <!--End category dropdown-->

    <!--Decade dropdown-->
    <div class="dropdown-2">
        <button type="button" class="ml-2 header-button btn btn-lg btn-outline-light rounded-0 dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Year</button>
        <div class="dropdown-menu header-dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1960s">1960s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1970s">1970s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1980s">1980s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/1990s">1990s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/2000s">2000s</a>
            <a class="dropdown-item header-dropdown-item" href="/written-works/decade/Present">Present</a>
        </div>
    </div>
    <!--End decade dropdown-->
</div>
<!--End dropdown buttons-->

<!--Closes tags from overlay-->
</div>
</div>

<!--HAVE COLLECTION LINK TO DIFFERENT PAGE JUST POEM AND SONGS ON THIS ONE-->
    <!--Title-->
<div class="mt-5 container">
    <%if(results.poem) {%>

        <%if(results.poem.title) {%>
            <h1 class="mb-3"><%=results.poem.title%></h1>
        <% }%>
        <!--End title-->
            <!--ADD AUTHOR AND YEAR HERE-->

        <!--Sub information-->

        <!--Body-->
    <p class="written-work-body mt-3">
        <%if(results.poem.body) {%>
            <% for( var i = 0; i < results.poem.body.length; i++) { if(results.poem.body[i] === '\n') { %>
            <br/>
            <% } else {%>
            <%=results.poem.body[i]%>
        <br/>
        <% } } }%>
    </p>
    <!--End body-->
    <h6 class="mt-5"><a class="btn btn-outline-dark rounded-0 p-1 btn-sm" href="/shop" role="button">Shop Collection</a> <a class="btn btn-outline-dark rounded-0 p-1 btn-sm" href="/written-works/category/poems" role="button">Back to Poetry</a></h6>
    <!--End sub information-->

    <% } %>

    <%if(results.song) {%>
        <%if(results.song.title) {%>
            <h1 class="mb-3"><%=results.song.title%></h1>
        <% }%>
        <!--End title-->

        <!--Sub information-->

    <!--End sub information-->

        <!--Body-->
    <p class="written-work-body mt-3">
        <%if(results.song.lyrics) {%>

        <% for( var i = 0; i < results.song.lyrics.length; i++) { if(results.song.lyrics[i] === '\n') { %>
        <br/>
        <% } else {%>
        <%=results.song.lyrics[i]%>
        <br/>
        <% } } }%>
    </p>
        <!--End body-->
    <h6 class="mt-5"><a class="btn btn-outline-dark rounded-0 p-1 btn-sm" href="/shop" role="button">Shop Album</a> <a class="btn btn-outline-dark rounded-0 p-1 btn-sm" href="/written-works/category/songs" role="button">Back to Songs</a></h6>

    <% } %>
</div>
<!--End container-->


<% include partials/footer.ejs %>