/* CAROUSEL STYLING */

/* images within the carousel */
.image-container {
    width: 500px;
    height: 500px;
}

.image-container img {
    margin-top: 7%;
    max-height: 100%;
    max-width: 100%;
}
/* ************************** */

/* carousel view */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: black;
}

@media (max-width: 768px) {
    .carousel-item {
        padding-top: 20%;
    }
}
/* ************************ */
/* ***** END CAROUSEL ***** */

