.collection-poem {
    font-weight: 500;
    color: gray;
}

.featured-collection-poem {
    font-weight: 500;
    color: lightgray;
}

.featured-collection-poem-title {
    color: white;
}

.featured-collection-poem-title:hover {
    color: black;
}

.featured-collection-poem-display {
    color: white;
    font-weight: 400;
    font-style: italic;
}

.collection-poem-title {
    color: black;
}

.collection-poem-display {
    color: black;
    font-weight: 400;
    font-style: italic;
}

hr {
    color: white;
}

div.tags span {
    color: white;
    font-weight: 100;
    font-size: 13px;
}

.featured {
    font-size: 2.0rem;
    font-style: italic;
    opacity: 0.75;
}

.featured-content {
    border: 2px solid #b8cef6;
    /*border: 2px solid #153E89;*/
    background-color: #b8cef6;
}

.collection-title {
    font-size: 3rem;
}