.media div img:hover {
    opacity: 0.75;
    color: rgba(0, 0, 0, 0.75);
}

.text-right-link {
    float: right;
    margin-right: 10px;
 }

.text-right-view {
    margin-right: 0px;
}
/*.text-center-link {*/
    /*padding-left: 40%;*/
/*}*/

.fas.two {
    margin-right: 10px;
}

@media (min-width: 992px) {
    .media div a {
        font-size: 2rem;
    }

    .media div h5 {
        font-size: 3rem;
    }
}

@media (max-width: 991px) {
    .media div a {
        font-size: 1rem;
    }

    .media div h5 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .media div a {
        font-size: 1rem;
    }

    .media div h5 {
        font-size: 1.5rem;
    }

    a p {
        font-size: 10px;
    }
}

a p {
    color: #9cbbf3;
}
a p:hover {
    color: #b8cef6;
    text-decoration: none;
}

