/* MODAL STYLING */
.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
    max-height: 100vh;
}

.modal-full .modal-content-special {
    min-height: 100vh;
    max-height: none;
}

.modal-header {
    border: none;
    padding-right: 5%;
}

.modal-header span {
    font-size: 2.5rem;
}

.photo-container {
    margin-top: 5%;
    max-width: 97%;
    padding-left: 3%;
}
/* ****** END MODAL ****** */

/* PHOTO GRID STYLING */
.photo-container .row div a {
    color: black;
    font-size: 1.5rem;
}

.photo-container .row div a:hover img {
    opacity: 0.75;
    color: rgba(0, 0, 0, 0.75);
}

.photo {
    justify-content: center;
    height: 250px;
    position: relative;
}

.photo img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    display: flex;
}

.photo-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.photo:hover .photo-overlay,
.album-photo:hover .photo-overlay {
    opacity: 1;
}



.photo-overlay-text {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.album-photo div a.btn-sm {
    font-size: 11px;
    color: white;
    opacity: 0.75;
}

/* *****END PHOTO GRID ****** */