/* HEADER STYLING */
@media (min-width: 992px) {
    .header {
        width: 99%;
        max-height: 98%;
    }

    .header-image {
        padding-top: 1%;
        padding-left: 1%;
    }

    .header-title {
        font-size: 4.0rem;
    }

    .header-title-sub {
        font-size: 3rem;
    }

    .header-subtitle {
        font-size: 2rem;
    }
}

@media (max-width: 991px) {
    .header {
        width: 100%;
        max-height: 100%;
    }

    .header-title {
        font-size: 3.5rem;
    }

    .header-title-sub {
        font-size: 2.25rem;
    }

    .header-subtitle {
        font-size: 1.75rem;
    }
}

@media (max-width: 768px) {
    .header-title {
        font-size: 2.5rem;
    }

    .header-title-sub {
        font-size: 1.25rem;
    }

    .header-subtitle {
        font-size: 1rem;
    }
}



@media (max-width: 450px) {
    .header-title {
        font-size: 1.2rem;
    }

    .header-title-sub {
        font-size: 1.1rem;
    }
}

.header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow-x:hidden;
}

.header-image {
    position: relative;
    overflow: hidden;
}


.header-text {
    position: absolute;
    color: white;
    font-weight: bold;
    margin-top: 19%;
}

.header-nav {
    position: absolute;
    color: white;
    font-weight: bold;

    padding-top: 1%;
    padding-left: 1%;
}

.header-title {
    padding-left: 1%;
    padding-right: 1%;
    align-self: center;
}

.header-title-sub {
    padding-left: 1%;
    padding-right: 1%;
    align-self: center;
    color: gainsboro;
}


.header-subtitle {
    color: gainsboro;
    align-self: center;
}

.header-button {
    color: white;
    border: 1px solid white;
}

.header-dropdown-menu {
    border-radius: 0;
}

.header-dropdown-item {
    font-size: 0.8rem;
    padding-left: 10px;
}
/* ***** END HEADER ***** */


/* NAVBAR STYLING */
.navbar {
    z-index: 100;
}

.navbar .navbar-brand {
    font-size: 25px !important;
    font-style: italic;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    margin-right: 15px;
}

.navbar-nav li.active a {
    color: black !important;
}

.navbar-nav li a:hover {
    color: rgba(255, 255, 255, 0.75) !important;
}
/* ********* END NAVBAR ************ */




/* GENERAL LINK STYLING */
a {
    color: #9cbbf3;
}
a:hover, a.in-line-link:hover, a.overlay-subtitle-link:hover {
    color: #b8cef6;
    text-decoration: none;
}

a.in-line-link {
    /*color: gainsboro;*/
    color: #9cbbf3;
}

a.overlay-subtitle-link {
    color: gainsboro;
}

.header-link {
    font-weight: bold;
}
/* *** END GENERAL LINK *** */

/* FOOTER STYLING */
.footer {
    /*border-top: 1px solid gainsboro;*/
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

footer div div a{
    /*font-weight: bold;*/
    color: black;
}


@media (max-width: 768px) {
    .footer {
        font-size: 0.75rem;
    }

}

@media (max-width: 968px) {

    .nav-item {
        font-size: 0.75rem;
    }
}

/* ** END FOOTER ** */