body {
  padding: 50px;
  font: 14px 'Lato', sans-serif;
}


html {
  font-size: 1rem;
}

/* LINK STYLING */

a, a:active, a:visited, a:focus {
  outline: none;
  pointer-events: auto !important;
}

.navbar-toggler, .header-dropdown-item, .header-button {
  pointer-events: auto !important;
}

a:active {
  opacity: 0.5;
}
/* ***** END LINK ***** */


/* GENERAL FONT STYLING */
h6 {
  font-size: 11px;
  color: gray;
  padding: 0 !important;
  margin: 0;
}

h6 a {
  font-size: 12px;
  color: gray;
  padding: 0 !important;
  margin: 0;
}
/* *** END GENERAL FONT *** */

.home-title {
  color: black;
}


/* STYLING FOR THE ABOUT DROP DOWN */
.about-text {
  margin-top: 10px;
  margin-left: 2px;
  font-weight: 300;
}
/* ** END DROP DOWN STYLING ** */

.fas {
   margin-left: 10px;
 }

.fas-two {
  margin-right: 10px;
}

div.overlay {
  pointer-events: none;
}
