body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a, a:active, a:visited, a:focus {
  outline: none;
}

a:active {
  opacity: 0.5;
}

html {
  font-size: 1rem;
}

